body{
    font-family:'Times New Roman', Times, serif;
}

h1{
    font-size: 6rem;
    margin: 50px 0px;
    justify-content: center;
    text-align: center;
}

p{
    font-size: 1rem;
}

button{
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 30px;
    background-color: rgb(112, 203, 255);
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(179, 227, 255);
    scale: 110%;
    transition: 1ms;
}

body{
    text-align: center;
}