body{
    background-color: #222;
    font-family: Arial;
}


.calculator{
    width: 450px;
    height: auto;
    margin: 100px auto;
    background: linear-gradient(0deg, #FED8E1, #F57EBB, #B359ED);
    border-radius: 35px;
    padding-top: 10px;
    border: 3px solid rgb(255, 255, 255);
}

.output{
    height: 150px;
    margin: 0 13px 10px 13px;
    background-color: #222;
    border-radius: 30px;
}

.output .previous-operand{
    height: 40%;
    background-color: #2f2f2f;
    border-radius: 30px 30px 0px 0px;
}

.buttons{
    width: 450px;
    margin: auto;
    text-align: center;
}

button{
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background-color: #222;
    border: none;
    border-radius: 100px;
    color: rgb(255, 236, 236);
    font-size: 30px;
    transition: 400ms;
}

button:hover{
    background-color: azure;
    color: #222;
    cursor: pointer;
}

.span-two{
    width: 200px;
}

#curr{
    color: white;
    text-align: right;
    padding-right: 20px;
}

#pre{
    color: rgb(124, 124, 124);
    text-align: right;
    padding: 20px;
}