body{
    background: linear-gradient(45deg, #1B367C, #35256F, #4E1564);
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 30px;
    margin: 15px;
    margin-left: 30px;
}

#container{
    width: 500px;
    height: auto;
    padding: 10px 0;
    color: black;
    background-color: white;
    border-radius: 15px;
    margin: 200px auto;

}

#add{
    width: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
}

#bar{
    background-color: #EBEDEE;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    padding: 0 30px;
}


#addbtn{
    background-color: #FF643B;
    color: white;
    font-size: 18px;
    width: 103px;
    height: 40px;
    border: none;
    border-radius: 40px;
    margin-left: -100px;
}

#addbtn:hover{
    cursor: pointer;
    background-color: transparent;
    transition: 300ms;
}

.task{
    background-color: #EBEDEE;
    width: 400px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    padding: 0 10px;
    vertical-align: text-top;
    display: flex;
    align-items: center;
}


.throwbtn{
    width: 25px;
    height: 25px;
    margin: 0 auto;
    cursor: pointer;
}


.label{
    width: 100%;
    margin: 10px;
}



